.chart-bar {
    -fx-background-color: rgba(0,168,355,0.05);
    /*-fx-border-color: rgba(0,168,355,0.3) rgba(0,168,355,0.3)*/
    /*transparent rgba(0,168,355,0.3);*/
    -fx-background-radius: 0;
    -fx-background-position: left center;
}

.data0.chart-bar {
    -fx-background-color: darkmagenta;
}
.data1.chart-bar {
    -fx-background-color: darkorange;
}
.data2.chart-bar {
    -fx-background-color: teal;
}
.data3.chart-bar {
    -fx-background-color: red;
}
.data4.chart-bar {
    -fx-background-color: green;
}
.data5.chart-bar {
    -fx-background-color: blue;
}
.data6.chart-bar {
    -fx-background-color: lightseagreen;
}

.button-try-now {
    -fx-background-color: dodgerblue;
    -fx-text-fill: WHITE;
}

.button-try-now:hover {
    -fx-background-color: rgb(77,102,204);
}

.button-try-now:pressed {
    -fx-background-color: lightseagreen;
}